.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

.numbers {
  display: flex;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.number {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.picked {
  background-color: #3d6acb;
}